a:link {
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka";
	font-size: 12px;
	line-height: 140%;
	text-decoration: none;
}
a:visited {
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka";
	font-size: 12px;
	line-height: 140%;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	line-height: 140%;
	text-decoration: underline;
}
a:active {
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka";
	line-height: 140%;
	text-decoration: none;
}
.size12 {
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka";
	font-size: 12px;
	line-height: 140%;
	text-decoration: none;
	letter-spacing: 1px;
	color: #000000;
}
a.size12 {
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka";
	font-size: 12px;
	line-height: 140%;
	text-decoration: none;
	letter-spacing: 1px;
	color: #000066;
}
a.size12 :link{
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka";
	font-size: 12px;
	line-height: 140%;
	text-decoration: none;
	letter-spacing: 1px;
	color: #000066;
}
a.size12 :visited{
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka";
	font-size: 12px;
	line-height: 140%;
	text-decoration: none;
	letter-spacing: 1px;
	color: #000066;
}
a.size12 :hover{
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka";
	font-size: 12px;
	line-height: 140%;
	text-decoration: underline;
	letter-spacing: 1px;
	color: #FF9900;
}
a.size12 :active{
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka";
	font-size: 12px;
	line-height: 140%;
	text-decoration: none;
	letter-spacing: 1px;
	color: #000066;
}

.size14 {
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka";
	font-size: 14px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #000066;
}

.size10 {
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka";
	font-size: 10px;
	line-height: 140%;
	text-decoration: none;
	letter-spacing: 2px;
	color: #000000;
}

form {
	border: 1px solid #000000;
	background-color: #FFFFFF;
}
.btn {
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka";
}
.nyuryoku {
	font-family: "‚l‚r ƒSƒVƒbƒN", "Osaka|“™•";
	font-size: 12px;
	line-height: 120%;
	background-color: #E3E3E3;
	border: 1px solid #000000;
	color: #000066;
}
