.roomWaku {
	border: 2px solid #FFFFFF;
}
.size14px {
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka";
	font-size: 14px;
	line-height: 120%;
	text-decoration: none;
	padding: 1px;
	font-weight: bold;
	letter-spacing: 2px;

}

.bar  {
	font-family: "‚l‚r ƒSƒVƒbƒN", "Osaka|“™•";
	font-size: 14px;
	line-height: 120%;
	text-decoration: none;
	padding: 2px 2px 2px 4px;
	font-weight: normal;
	border-top: 1px none #666666;
	border-right: 1px none #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
}
.bar2  {
	font-family: "‚l‚r ƒSƒVƒbƒN", "Osaka|“™•";
	font-size: 12px;
	line-height: 120%;
	text-decoration: none;
	padding: 2px 2px 2px 4px;
	font-weight: normal;
	border-top: 1px none #666666;
	border-right: 1px none #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px none #666666;
}
.size12ex {
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka";
	font-size: 12px;
	text-decoration: none;
	padding: 0px;
	line-height: 120%;
}
a {
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka";
	font-size: 12px;color: #000000;
	text-decoration: none;
}
a:link {
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:visited {
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:hover {
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka";
	font-size: 12px;
	color: #000066;
	text-decoration: underline;
}
a:active {
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.tableN {


	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	font-family: "‚l‚r ƒSƒVƒbƒN", "Osaka|“™•";
	font-size: 12px;
	line-height: 140%;
	padding: 2px 1px 1px;
	text-decoration: none;
	background-color: #000066;
	color: #FFFFFF;
}
.tableW {

	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	font-family: "‚l‚r ƒSƒVƒbƒN", "Osaka|“™•";
	font-size: 12px;
	line-height: 140%;
	padding: 1px;
	text-decoration: none;
	background-color: #FFFFFF;
}
.space6 {
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka";
	font-size: 12px;
	padding-left: 6px;
}
.tableW2 {


	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	font-family: "‚l‚r ƒSƒVƒbƒN", "Osaka|“™•";
	font-size: 12px;
	line-height: 140%;
	padding: 1px;
	text-decoration: none;
	background-color: #FFFFFF;
}
.space6R {
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka";
	font-size: 12px;
	padding-right: 6px;

}
